scikit-learn~=1.5.1
seaborn~=0.13.2
polars~=0.20.31
wordcloud~=1.9.3
nltk~=3.8.1
argparse~=1.4.0
numpy~=1.26.4
matplotlib~=3.9.1
spacy~=3.7.5
tqdm~=4.66.4
pandas~=2.2.2
snakemake~=8.16.0
gensim~=4.3.2
pyLDAvis~=3.4.1
scipy==1.12.0
pyarrow~=16.1.0
fastparquet~=2024.5.0
transformers~=4.42.4